<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= locals.title %></h1>
    <p>Welcome to <%= locals.title %></p>
    <a href="/new"><button>New Message</button></a>
    <% for (let i = locals.messages.length - 1; i >= 0 ; i--) { %>
    <div><%= locals.messages[i].user %></div>
    <div><%= locals.messages[i].text %></div>
    <div><%= locals.messages[i].added %></div>
    <br />
    <% } %>
  </body>
</html>
